---
layout: generic_collection_item
image_viewer: 'openseadragon'
pagination: true
meta:
  - label: 'Series Title'
    value: page.series_title
  - label: 'Folder Number'
    value: page.folder_number
  - label: 'Title'
    value: page.title
  - label: 'Description'
    value: page.description
  - label: 'Creator'
    value: page.creator
  - label: 'Contributor'
    value: page.contributor
  - label: 'Publisher'
    value: page.publisher
  - label: 'Source'
    value: page.source
  - label: 'Date'
    value: page._date
  - label: 'Language'
    value: page.Language
  - label: 'Type'
    value: page.Type
  - label: 'Format 1'
    value: page.format_1
  - label: 'Format 2'
    value: page.format_2
  - label: 'Format 3'
    value: page.format_3
  - label: 'Relation'
    value: page.relation
  - label: 'Coverage'
    value: page.coverage
  - label: 'Subject 1'
    value: page.subject_1
  - label: 'Subject 2'
    value: page.subject_2
  - label: 'Subject 3'
    value: page.subject_3
  - label: 'Copyright'
    value: page.copyright
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
